.App {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: 20px 10px;
  box-sizing: border-box;
}

.cell {
  height: 50px;
  width: 300px;
  padding: 5px;
  margin: 15px 25px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.cell.dependabot-update {
  font-size: 14px;
  color: #1b2834;
  position: relative;
  box-shadow: rgba(49, 53, 56, 0.5) 0px 1px 4px;
}

.cell.dependabot-update:hover {
  opacity: 1.0 !important;
}

.cell.dependabot-update.newest {
  animation: popin 0.2s ease-in-out;
}

@keyframes popin {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1.0);
  }
}

.cell.empty {
  justify-content: center;
}
.cell.empty.loader {
  background: #455b6e;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.dependabot-loader {
  width: 30px;
  height: 30px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

.cell.dependabot-update.bundler { background-color: #FFCFD2; }
.cell.dependabot-update.cargo { background-color: #FDE4CF; }
.cell.dependabot-update.composer { background-color: #A3C4F3; }
.cell.dependabot-update.docker { background-color: #D2DDE1; }
.cell.dependabot-update.elm { background-color: #8EECF5; }
.cell.dependabot-update.github_actions { background-color: #FFCFD2; }
.cell.dependabot-update.git_submodules { background-color: #D2DDE1; }
.cell.dependabot-update.go_modules { background-color: #8EECF5; }
.cell.dependabot-update.gradle { background-color: #FDE4CF; }
.cell.dependabot-update.hex { background-color: #CFBAF0; }
.cell.dependabot-update.maven { background-color: #FDE4CF; }
.cell.dependabot-update.npm_and_yarn { background-color: #FBF8CC; }
.cell.dependabot-update.nuget { background-color: #B9FBC0; }
.cell.dependabot-update.pub { background-color: #98F5E1; }
.cell.dependabot-update.pip { background-color: #90DBF4; }
.cell.dependabot-update.terraform { background-color: #D2DDE1; }

.cell.dependabot-update .ecosystem-icon {
  width: 18px;
  height: 18px;
  margin: 10px;
}

.cell.dependabot-update .dependency {
  font-weight: 600;
  margin-bottom: 2px;
}
.cell.dependabot-update .versions {
  font-weight: 400;
  font-size: 12px;
}
.cell.dependabot-update .dependency,
.cell.dependabot-update .versions {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  width: 200px;
}

.cell.dependabot-update .avatar {
  height: 60px;
  width: 60px;
  position: absolute;
  right: -26px;
  top: -4.5px;
  border-radius: 40px;
  margin-right: 10px;
  overflow: hidden;
  border-width: 5px;
  border-style: solid;
  background: #fff;
  border:  5px solid white !important;
  box-shadow: rgba(49, 53, 56, 0.18) 1px 1px 8px;
}

.cell.dependabot-update .avatar img {
  height: 62px;
  width: 62px;
}

a {
  text-decoration: none;
  color: #1b2834;
}
